<h3>Add a new studio!</h3>

<form action="/studios" method="post">
  <input name="studio[name]" type="text" placeholder="Name">
  <input name="studio[category]" type="text" placeholder="Category">
  <input name="studio[city]" type="text" placeholder="City">
  <input name="studio[state]" type="text" placeholder="State">
  <input name="studio[zip]" type="integer" placeholder="ZIP">
  <input type="submit" value="Create Studio">
</form>